@font-face {
  src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
                 U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

  font-family: 'Press Start 2P', Consolas, monospace;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  --overlayBackground: rgba(0, 0, 0, 0.5);

  --easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  --easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  --easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

html, body {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: 'Press Start 2P';
  font-variant-ligatures: none;
  backface-visibility: hidden;
  background-color: #070B34;
  
  text-size-adjust: 100%;
  letter-spacing: normal;

  line-height: normal;
  font-kerning: none;
  font-style: normal;
  user-select: none;

  font-weight: 400;
  appearance: none;
  overflow: hidden;
  color: #FFFFFF;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

#game, section {
  position: absolute;
  display: block;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  text-align: center;
  display: block;

  padding: 0;
  margin: 0;
}

#intro {
  transition: background-color 1.5s var(--easeOutQuad) 3s;
  background-color: var(--overlayBackground);
}

#intro h1 {
  animation: title 2s var(--easeInQuad) 1s;
  transform: translateY(-50%);
  position: absolute;

  line-height: 6vw;
  font-size: 6vw;
  height: 6vw;

  width: 100%;
  opacity: 0;

  top: 50%;
  left: 0;
}

.content {
  transform: translateY(-50%);
  padding-top: 0.5vw;
  position: absolute;

  display: block;
  width: 100%;

  top: 50%;
  left: 0;
}

.content span.tap {
  line-height: 2vw;
  font-size: 2vw;

  height: 2vw;
  width: 100%;
  opacity: 0;
}

#intro .content {
  height: 15vw;
}

#intro .content h2 {
  transition: opacity 1s var(--easeInOutQuad) 3.5s;

  line-height: 4vw;
  font-size: 4vw;

  height: 4vw;
  opacity: 0;
}

#intro .content span.tap {
  transition: opacity 0.5s var(--easeInOutQuad) 7.5s;
  position: absolute;
  bottom: 0.5vw;
}

#intro.start.fadeOut {
  pointer-events: none;
  opacity: 0;
}

#intro.start .content h2,
#intro.start .content span.tap {
  opacity: 1;
}

#ui {
  transition: opacity 0.5s;
  pointer-events: none;
  opacity: 0;
}

#ui.fadeIn {
  opacity: 1;
}

#ui .score {
  position: absolute;
  line-height: 3vw;

  font-size: 3vw;
  height: 3vw;

  right: 0;
  left: 0;
}

#ui #score {
  top: 2.5vh;
}

#ui #menu {
  background-image: url(./assets/image/button.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  pointer-events: all;
  position: absolute;
  cursor: pointer;

  display: block;
  outline: none;
  border: none;

  right: 0.55vh;
  top: 0.55vh;

  height: 64px;
  width: 64px;
  z-index: 1;
}

#ui #menu .line {
  backface-visibility: hidden;
  background-color: #fff;
  transform-origin: center;

  position: absolute;
  display: block;

  height: 5px;
  width: 44px;
  left: 10px;
}

#ui #menu .line:first-child {
  top: 22px;
}

#ui #menu .line:last-child {
  bottom: 22px;
}

#ui #menu.open .line:first-child {
  animation: menuFirstLine 0.5s forwards;
}

#ui #menu.open .line:last-child {
  animation: menuLastLine 0.5s forwards;
}

#ui #menu.close .line:first-child {
  animation: menuFirstLine 0.5s reverse;
}

#ui #menu.close .line:last-child {
  animation: menuLastLine 0.5s reverse;
}

#ui #newBestScore,
#ui #scoreMultiplier {
  transform-origin: center;
  opacity: 0;
  top: 20vh;
}

#ui #scoreMultiplier.animate {
  animation: score 0.5s var(--easeOutQuad);
}

#ui #newBestScore.animate {
  animation: bestScore 1s var(--easeOutQuad);
}

#pause {
  transition: opacity 0.5s;
}

#pause, #end {
  background-color: var(--overlayBackground);
  pointer-events: none;
  opacity: 0;
}

#end.fadeIn {
  transition: opacity 0.5s var(--easeOutQuad) 0.5s;
  opacity: 1;
}

#pause .content h1 {
  transition: opacity 0.5s;

  line-height: 4vw;
  font-size: 4vw;
  height: 4vw;

  width: 100%;
  opacity: 0;
}

#pause .content .options {
  margin: 60px auto;
  max-width: 500px;
  width: 75vw;
}

#pause .content .options .option {
  justify-content: space-between;
  transition: opacity 0.5s;

  align-content: center;
  flex-direction: row;

  margin-bottom: 35px;
  align-items: center;

  position: relative;
  flex-wrap: nowrap;

  display: flex;
  width: 100%;
  opacity: 0;
}

#pause .content .options .option:last-child {
  margin-bottom: 0;
}

#pause .content .options .option span:last-child {
  cursor: pointer;
}

#pause .content #download {
  transition: background-color 0.25s, opacity 0.5s 1.25s;

  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: 2px solid #C74B0C;
  border-top: 2px solid #C74B0C;

  font-family: 'Press Start 2P';
  background-color: #FB9737;

  letter-spacing: 0.2vw;
  position: relative;
  padding-top: 5px;

  max-height: 67px;
  max-width: 300px;

  color: #FFFFFF;
  font-size: 26px;
  cursor: pointer;

  display: block;
  margin: 0 auto;
  outline: none;

  height: 10vw;
  width: 45vw;
  opacity: 0;
}

#pause .content #download:hover {
  background-color: #E17122;
}

#pause .content #download:active {
  background-color: #C74B0C;
}

#pause .song {
  transition: opacity 0.5s;
  text-align: center;
  position: absolute;

  line-height: 1vw;
  font-size: 1vw;

  display: block;
  height: 1.6vw;
  width: 100%;

  bottom: 2vh;
  opacity: 0;
}

#pause .song sub {
  display: inline-block;
}

#pause.fadeIn {
  pointer-events: all;
  opacity: 1;
}

#pause.fadeIn .content h1 {
  transition-delay: 0.25s;
  opacity: 1;
}

#pause.fadeIn .song,
#pause.fadeIn .content #download,
#pause.fadeIn .content .options .option {
  opacity: 1;
}

#pause.fadeIn .content .options .option.music {
  transition-delay: 0.5s;
}

#pause.fadeIn .content .options .option.sounds {
  transition-delay: 0.75s;
}

#pause.fadeIn .content .options .option.autoplay {
  transition-delay: 1s;
}

#pause.fadeIn .song {
  transition-delay: 1.5s;
}

#end.interactable {
  pointer-events: all;
}

#end .content h2 {
  line-height: 10vw;
  font-size: 10vw;

  height: 10vw;
  opacity: 0;
}

#end .content .score {
  justify-content: space-between;
  align-content: center;
  flex-direction: row;

  align-items: center;
  margin: 10vh auto;
  max-width: 60vw;

  flex-wrap: wrap;
  display: flex;  
  width: 90%;
}

#end .content .score span {
  margin-bottom: 3vh;
  line-height: 3vw;

  font-size: 3vw;
  height: 3vw;
  opacity: 0;  
}

#end.fadeIn .content h2 {
  transition: opacity 0.5s var(--easeInOutQuad) 1s;
  opacity: 1;
}

#end.fadeIn .content .score .currentScore {
  transition: opacity 0.5s var(--easeInOutQuad) 1.25s;
  opacity: 1;
}

#end.fadeIn .content .score #currentScore {
  transition: opacity 0.5s var(--easeInOutQuad) 1.5s;
  opacity: 1;
}

#end.fadeIn .content .score .bestScore {
  transition: opacity 0.5s var(--easeInOutQuad) 1.75s;
  opacity: 1;
}

#end.fadeIn .content .score #bestScore {
  transition: opacity 0.5s var(--easeInOutQuad) 2s;
  opacity: 1;
}

#end.fadeIn .content span.tap {
  transition: opacity 0.5s var(--easeInOutQuad) 2.25s;
  opacity: 1;
}

@media all and (display-mode: fullscreen), (display-mode: standalone) {
  #pause .content #download {
    display: none !important;
  }
}

@media only screen and (orientation: landscape) {
  #intro .content {
    height: 10vw;
  }
}

@media only screen and (max-width: 991px) {
  #ui .score {
    line-height: 4vw;
    font-size: 4vw;
    height: 4vw;
  }

  #pause .content h1 {  
    line-height: 6vw;
    font-size: 6vw;
    height: 6vw;
  }

  #pause .song {
    font-size: 1.5vw;
    height: 2.4vw;
  }
}

@media only screen and (max-width: 480px) {
  #end .content .score span {
    line-height: 16px;
    font-size: 16px;
    height: 16px;
  }

  #end .content span.tap,
  #intro .content span.tap {  
    line-height: 12px;
    font-size: 12px;
    height: 12px;
  }

  #end .content .score {
    max-width: 325px;
  }

  #ui .score {
    line-height: 6vw;
    font-size: 6vw;
    height: 6vw;
  }

  #ui #menu {
    height: 32px;
    width: 32px;

    right: 1.1vh;
    top: 1.1vh;
  }

  #ui #menu .line {
    height: 3px;
    width: 22px;
    left: 5px;
  }

  #ui #menu .line:first-child {
    top: 10px;
  }

  #ui #menu .line:last-child {
    bottom: 10px;
  }

  #pause .content #download {
    padding-top: 0px;
    line-height: 9vw;
    font-size: 4vw;
  }

  #pause .song {
    font-size: 10px;
    height: 16px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes score {
  0% {
    transform: translateY(250%) scale(0.25);
    opacity: 0;
  }

  50% {
    transform: translateY(0) scale(1.5);
    opacity: 1;
  }

  80% {
    transform: translateY(0) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes bestScore {
  0% {
    transform: translateY(250%) scale(0.25) rotate(0deg);
    opacity: 0;
  }

  40% {
    transform: translateY(0) scale(0.85) rotate(0deg);
    opacity: 0.8;
  }

  50% {
    transform: translateY(0) scale(1) rotate(-15deg);
    opacity: 1;
  }

  65% {
    transform: translateY(0) scale(1) rotate(15deg);
    opacity: 1;
  }

  80% {
    transform: translateY(0) scale(1) rotate(-15deg);
    opacity: 1;
  }

  90% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 0;
  }
}

@keyframes menuFirstLine {
  0% {
    transform: translateY(0%) rotate(0deg);
    transition-timing-function: var(--easeInQuad);
  }

  50% {
    transform: translateY(150%) rotate(0deg);
    transition-timing-function: var(--easeInQuad);
  }

  100% {
    transform: translateY(150%) rotate(45deg);
    transition-timing-function: var(--easeOutQuad);
  }
}

@keyframes menuLastLine {
  0% {
    transform: translateY(0%) rotate(0deg);
    transition-timing-function: var(--easeInQuad);
  }

  50% {
    transform: translateY(-150%) rotate(0deg);
    transition-timing-function: var(--easeInQuad);
  }

  100% {
    transform: translateY(-150%) rotate(-45deg);
    transition-timing-function: var(--easeOutQuad);
  }
}
