:root {
  --overlayBackground: rgba(7, 11, 52, 0.25);

  --easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  --easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  --easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

html, body {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: 'Press Start 2P';
  font-variant-ligatures: none;
  backface-visibility: hidden;
  background-color: #070B34;
  
  text-size-adjust: 100%;
  letter-spacing: normal;

  line-height: normal;
  font-kerning: none;
  font-style: normal;
  user-select: none;

  font-weight: 400;
  appearance: none;
  overflow: hidden;
  color: #FFFFFF;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

#game, section {
  position: absolute;
  display: block;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  text-align: center;
  display: block;

  padding: 0;
  margin: 0;
}

#intro {
  transition: background-color 1.5s var(--easeOutQuad) 3s;
  background-color: rgba(0, 0, 0, 1);
}

#intro h1 {
  animation: title 2s var(--easeInQuad) 1s;
  transform: translateY(-50%);
  position: absolute;
  
  line-height: 6vw;
  font-size: 6vw;
  
  height: 6vw;
  width: 100%;
  opacity: 0;

  top: 50%;
  left: 0;
}

#intro h3 {
  transition: opacity 1s var(--easeInOutQuad) 3.5s;
  transform: translateY(-25%);
  position: absolute;

  line-height: 4vw;
  font-size: 4vw;

  height: 4vw;
  width: 100%;
  opacity: 0;

  top: 25%;
  left: 0;
}

#intro span {
  transition: opacity 0.5s var(--easeInOutQuad) 7.5s;
  transform: translateY(-33%);
  position: absolute;

  line-height: 2vw;
  font-size: 2vw;

  height: 2vw;
  width: 100%;
  opacity: 0;

  top: 33%;
  left: 0;
}

#intro.start {
  background-color: var(--overlayBackground);
}

#intro.start.fadeOut {
  pointer-events: none;
  opacity: 0;
}

#intro.start h3,
#intro.start span {
  opacity: 1;
}

#ui {
  transition: opacity 0.5s;
  pointer-events: none;
  opacity: 0;
}

#ui.fadeIn {
  opacity: 1;
}

#ui #score {
  position: absolute;
  line-height: 3vw;
  font-size: 3vw;

  height: 3vw;
  width: 100%;

  top: 2.5vh;
  left: 0;
}

#end {
  background-color: var(--overlayBackground);
  pointer-events: none;
  opacity: 0;
}

#end.fadeIn {
  transition: opacity 0.5s var(--easeOutQuad) 0.5s;
  pointer-events: all;
  opacity: 1;
}

#end h2 {
  transition: opacity 0.5s var(--easeInOutQuad) 1s;
  transform: translateY(-45%);
  position: absolute;

  line-height: 5vw;
  font-size: 5vw;

  height: 5vw;
  width: 100%;
  opacity: 0;

  top: 45%;
  left: 0;
}

#end span {
  transition: opacity 0.5s var(--easeInOutQuad) 1.5s;
  transform: translateY(-55%);
  position: absolute;

  line-height: 2vw;
  font-size: 2vw;

  height: 2vw;
  width: 100%;
  opacity: 0;

  top: 55%;
  left: 0;
}

#end.fadeIn h2,
#end.fadeIn span {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  #ui #score {  
    line-height: 4vw;
    font-size: 4vw;
    height: 4vw;
  }
}

@media only screen and (max-width: 767px) {
  #intro span {  
    line-height: 12px;
    font-size: 12px;
    height: 12px;
  }

  #ui #score {  
    line-height: 6vw;
    font-size: 6vw;
    height: 6vw;
  }

  #end span {  
    line-height: 12px;
    font-size: 12px;
    height: 12px;
  }
}

@keyframes title {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
